<?xml version="1.0"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="idv.pulipuli.blogspot.tw" version="12.0.0.1">
    <name>布丁布丁吃什麼？</name>
    <description>
        這顆布丁是在無聊的寄誒中找尋樂趣的一種不能吃的食物。喜歡動漫畫、喜歡遊戲、喜歡程式、喜歡跟世間脫節的生活步調中，撰寫blog──布丁布丁吃什麼？ http://blog.pulipuli.info/
    </description>
    <author href="http://blog.pulipuli.info" email="pulipuli.chen@gmail.com">布丁布丁吃布丁</author>
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
  
    <content src="index.html"/>
    <icon src="icon.png"/>
  
    <!-- <preference name="phonegap-version" value="3.7.0" /> -->
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="org.apache.cordova.inappbrowser" spec="0.3.3" source="pgb" />
</widget>
